
body {
	background-color: lightcyan;
	color: #000;
	font-family: monospace, sans-serif;
	margin: 0;

}

.navbar {
	font-family: monospace, sans-serif;		
	margin: 1em;
	margin-right: 1em;
	padding: 3em;
}

a:visited{
color: #0099cc;
}
a:hover{
	background-color: #0099cc;
}