@import url('https://fonts.googleapis.com/css?family=Quicksand|Rubik');
/*
font-family: 'Quicksand', sans-serif;
font-family: 'Rubik', sans-serif;
*/

body {
	background-color: #f0f8ff;
	text-align: center;
}

html {
		background-color:#f0f8ff;
	text-align: center;
}

.main {
	background-color: #FCFFEA;
	width: 85%;
	float: left;
	padding: 30px;
	border: 1px solid #0099cc;
	border-radius: 25px;
	margin-top: 2em;
	margin-right: 4.5em;
	margin-left: 4.5em;

}


p {
	text-align: center;
}

h1 {
	text-align: center;
	font-size: 40px;
}

#name {
	text-align: center;
	font-size: 18px;
}

h3 {
	font-family: monospace;
	font-size: 20px;
	/*	text-align: center;*/
}

#quote-statement {
font-family: 'Quicksand', sans-serif;
	text-align: center;
	font-weight: 100;

}
#c-statement {
font-family: 'Quicksand', sans-serif;
	text-align: center;
	font-weight: 100;

}

#statement {
	font-family: font-family: 'Rubik', sans-serif;
	text-align: center;

}
#statementmain{
	font-family: 'Quicksand', sans-serif;
	text-align: center;
	font-size: 22px;
}
	
	
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	text-align: center;
}
.wrapper {
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-gap: 15em;
}

.box {
  border-radius: 10em;
  padding: 20px;
  font-size: 150%;
}

